@import "variables.css";
@import "reset.css";
@import "components/header.css";

@font-face {
  font-family: "NewRailAlphabet-Bold";
  src: url("../assets/fonts/NewRailAlphabet-Bold.woff2") format("woff2"),
    url("../assets/fonts/NewRailAlphabet-Bold.woff") format("woff"),
    url("../assets/fonts/NewRailAlphabet-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NewRailAlphabet";
  src: url("../assets/fonts/NewRailAlphabet-White.woff2") format("woff2"),
    url("../assets/fonts/NewRailAlphabet-White.woff") format("woff"),
    url("../assets/fonts/NewRailAlphabet-White.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NewRailAlphabet-Light";
  src: url("../assets/fonts/NewRailAlphabet-Light.woff2") format("woff2"),
    url("../assets/fonts/NewRailAlphabet-Light.woff") format("woff"),
    url("../assets/fonts/NewRailAlphabet-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-regular);
}

.gradient-bg {
  background: var(--website-gray);
  animation: gradient-animation 15s ease infinite;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}